<div>

  <app-top-bar></app-top-bar>

  <div class="about-us-middle-region">
    <div class="about-us-middle-region-text-primary">About us</div>
    <div class="about-us-middle-region-text-secondary">
      <b><i>Chat With Doc</i></b> is a real-time chat application that allows a patient to have online prescriptions. A user can simply initiate a request to connect to a doctor by clicking on the respective button. The doctors, on the other hand, can see the request of the user on their screens, on real time basis. As soon as a doctor accepts the request, the same disappears from other doctors' screens and a two-way ineration commences between the request iniatiator and the request acceptor. The app allows the user (patient / doctor) to view the history of all his chats in reverse chronological order. It also assists the user in viewing the chats with a particular interlocutor.
    </div>
  </div>

  <app-footer></app-footer>

</div>
