<div>

  <app-top-bar></app-top-bar>

  <div class="terms-and-conditions-middle-region">
    <div class="terms-and-conditions-middle-region-text-primary">Terms and Conditons</div>
    <div class="terms-and-conditions-middle-region-text-secondary">
      This is a personal project hosted on public server just for the purpose of depiction. It should not be used for personal chats. In case if anyone does, the author will not be responsible for any issues, storage and security of data. Kindly uses it only for testing, not for production. 
    </div>
  </div>

  <app-footer></app-footer>

</div>
