<div class="footer">
  <div class="footer-aboutus">
    <font class="footer-text">
      <a class="links" [routerLink]="['/aboutus']">About Us</a>
    </font>
  </div>
  <div class="footer-terms-conditions">
    <font class="footer-text">
      <a class="links" [routerLink]="['/terms-and-conditions']">Terms and Conditions</a>
    </font>
  </div>
  <div class="footer-followus">
    <font class="footer-text">Follow us</font>
    <div class="footer-followus-icons-container">
      <a class="links" href = "https://in.linkedin.com/in/rasmaqsonmeermohammadhasnain">
        <img class="footer-followus-icons" src = "/assets/images/linkedinIcon.jpg"/>
      </a>
      <a class="links" href = "https://github.com/meerMohammadHasnain">
        <img class="footer-followus-icons" src = "/assets/images/githubIcon.jpg"/>
      </a>
      <a class="links" href = "https://www.facebook.com/">
        <img class="footer-followus-icons" src = "/assets/images/facebookIcon.png"/>
      </a>
      <a class="links" href = "https://twitter.com/login">
        <img class="footer-followus-icons" src = "/assets/images/twitterIcon.jpg"/>
      </a>
      <a class="links" href = "https://www.instagram.com/">
        <img class="footer-followus-icons" src = "/assets/images/instagramIcon.jpg"/>
      </a>
    </div>
  </div>
</div>
